.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'header header';
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.header {
  grid-area: header;
}